<div class="landing-page-header col-md-12">
  <div class="row header">
    <div class="col-md-1 text-right">
      <%= link_to (image_tag "logo.png"), unauthenticated_root_path %>
    </div>
    <div class="col-md-3 col-md-offset-8 text-left">
      <%= link_to "Sign up", new_user_registration_path, class: "button" %>
      <%= link_to "Log in", new_user_session_path, class: "button active" %>
    </div>
    <div class="header-banner col-md-12 text-center">
      <h1 class="header-1">See What's happening right now.</h1>
      <h2 id="header-2" class="header-2">Find communit, conversation, and inspiration about the things you love.</h2>
    </div>
  </div>

  <div class="row nav text-center">
    <%= link_to "Search", "#", class: "nav-tab col-md-2" %>
    <%= link_to "Featured", "#", class: "nav-tab col-md-1" %>
    <%= link_to "News", "#", class: "nav-tab col-md-1" %>
    <%= link_to "Sports", "#", class: "nav-tab col-md-1" %>
    <%= link_to "Music", "#", class: "nav-tab col-md-1" %>
    <%= link_to "Humor and Novelty", "#", class: "nav-tab
    no-margin col-md-2" %>
    <%= link_to "Entertainment", "#", class: "nav-tab col-md-2" %>
    <%= link_to "More", "#", class: "nav-tab col-md-2" %>
  </div>
</div>

<div class="row landing-page-main-content text-center">
  <h1>"Moments"<h1>
  <h2>to be implemented</h2>
</div>
