<div class="row register-login-header">
  <div class="col-md-2 col-md-offset-5 text-center">
    <%= link_to (image_tag "logo.png", class: "register-login-logo"), unauthenticated_root_path %>
  </div>
  <div class="col-md-5">
    <div class="dropdown col-md-7 text-right">
      <button class="register-login-header-link btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Language: English <span class="caret"></span></button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li class="dropdown-element"><a href="#">Bahasa Indonesia</a></li>
        <li class="dropdown-element"><a href="#">Bahasa Melayu</a></li>
        <li class="dropdown-element"><a href="#">Čeština</a></li>
        <li class="dropdown-element"><a href="#">Dansk</a></li>
        <li class="dropdown-element"><a href="#">Deutsch</a></li>
        <li class="dropdown-element"><a href="#">English UK</a></li>
        <li class="dropdown-element"><a href="#">Español</a></li>
        <li class="dropdown-element"><a href="#">Filipino</a></li>
        <li class="dropdown-element"><a href="#">Français</a></li>
        <li class="dropdown-element"><a href="#">Italiano</a></li>
        <li class="dropdown-element"><a href="#">Magyar</a></li>
        <li class="dropdown-element"><a href="#">Nederlands</a></li>
        <li class="dropdown-element"><a href="#">Norsk</a></li>
        <li class="dropdown-element"><a href="#">Polski</a></li>
        <li class="dropdown-element"><a href="#">Português</a></li>
        <li class="dropdown-element"><a href="#">Română</a></li>
        <li class="dropdown-element"><a href="#">Suomi</a></li>
        <li class="dropdown-element"><a href="#">Svenska</a></li>
        <li class="dropdown-element"><a href="#">Tiếng Việt</a></li>
        <li class="dropdown-element"><a href="#">Türkçe</a></li>
        <li class="dropdown-element"><a href="#">Ελληνικά</a></li>
        <li class="dropdown-element"><a href="#">Русский</a></li>
        <li class="dropdown-element"><a href="#">Українська мова</a></li>
        <li class="dropdown-element"><a href="#">עִבְרִית</a></li>
        <li class="dropdown-element"><a href="#">العربية</a></li>
        <li class="dropdown-element"><a href="#">فارسی</a></li>
        <li class="dropdown-element"><a href="#">मराठी</a></li>
        <li class="dropdown-element"><a href="#">हिन्दी</a></li>
        <li class="dropdown-element"><a href="#">বাংলা</a></li>
        <li class="dropdown-element"><a href="#">ગુજરાતી</a></li>
        <li class="dropdown-element"><a href="#">தமிழ்</a></li>
        <li class="dropdown-element"><a href="#">ಕನ್ನಡ</a></li>
        <li class="dropdown-element"><a href="#">ภาษาไทย</a></li>
        <li class="dropdown-element"><a href="#">한국어</a></li>
        <li class="dropdown-element"><a href="#">日本語</a></li>
        <li class="dropdown-element"><a href="#">简体中文</a></li>
        <li class="dropdown-element"><a href="#">繁體中文</a></li>
      </ul>
    </div>
    <div class="col-md-5 login-link">
      <%= link_to "Have and account? Log in", new_user_session_path, class: "login-link" %>
    </div>
  </div>
</div>

<div class="col-md-4 col-md-offset-4">
  <h2 class="join-twitter">Join Twitter Today</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <%= f.text_field :full_name, placeholder: "Full name", autofocus: true, class: "form-field" %>

      <%= f.email_field :email, placeholder: "Email", autofocus: true, class: "form-field" %>

      <%= f.password_field :password, placeholder: "Password #{@minimum_password_length} characters minimum",autocomplete: "off", class: "form-field" %>

      <%= f.password_field :password_confirmation, placeholder: "Confirm password", autocomplete: "off", class: "form-field" %>

      <%= f.submit "Sign up", class: "register-login-button" %>
  <% end %>

  <div class="privacy-policy">
    <p>By signing up, you agree to the <a class="privacy-policy-link" href="#"><span>Terms of Service</span></a> and <a class="privacy-policy-link" href="#"><span>Privacy Policy</span></a>, including <a class="privacy-policy-link" href="#"><span>Cookie Use</span></a>. Others will be able to find you by email or phone number when provided.</p>

    <a class="privacy-policy-link" href="#"><span>Advanced options</span></a>
  </div>
</div>